html,
body {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  margin: 0;
}
main {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}
div.line {
  background-color: hsl(0, 0%, 90%);
  height: 1px;
  width: 100%;
  margin-top: 1.5rem;
}
div p {
  font-weight: 800;
}
h1 {
  font-size: 18px;
  padding: 0;
}

div.container {
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 390px;
  border-radius: 1rem;
  z-index: 2;
}
h1 span {
  margin-left: 0.4rem;
}

div.container > img {
  border-radius: 1rem 1rem 0 0;
}
div.container img.portrait {
  border-radius: 50%;
  margin: 0 auto;
  border: 5px white solid;
  position: relative;
  top: -55px;
  z-index: 2;
}
p {
  font-size: 1.2rem;
}
p > span {
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}

div.stats {
  padding: 0.5rem 2rem 0 2rem;
  display: flex;
  justify-content: space-around;
}
.content {
  position: relative;
  top: -45px;
}
.attribution {
  margin-top: 10px;
  color: white;
  z-index: 2;
}
main .attribution > a {
  color: yellow;
  font-weight: 700;
}

.upper-side {
  right: 50%;
  bottom: 50%;
  position: fixed;
}

.lower-side {
  top: 50%;
  left: 50%;
  position: fixed;
}
